.console {
	padding: 10px;
	background-color: black;
	border-radius: 5px;
	color: green;
	font-family: 'Lucida Console', 'Lucida Sans Typewriter', monaco, 'Bitstream Vera Sans Mono', monospace; 
	font-size: 0.9em;
}

#pipe {
	background-color: green;
}

#unicorn {
	position: static;
	float: left;
	width: 300px;
	height: 300px;
	margin-top: -410px;
	margin-left: 50px;
}